{% extends 'registration/base.html' %}

{% block content %}
<h2>Вход</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Войти</button>
</form>
<a href="/accounts/reg">Зарегистрироваться</a>
{% endblock content %}