@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap');


.navbar {
    height: 120px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 62%;
    padding-left: 19%;
    padding-right: 19%;
}

.navbar__elements {
    width: 100%;
    display: grid;
    grid-template-columns: 86px 91px 146px 137px 84px 227px;
    grid-column-gap: 80px;
    top: 45px;
    margin-top: 45px;
}

.navbar__element-text {
    color: #000000;
    font-size: 20px;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 300;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    z-index: 2;
    cursor: pointer;
}

.navbar__element-button {
    width: 227px;
    height: 45px;
    color: #ffffff;
    text-align: center;
    z-index: 6;
    box-sizing: border-box;
    display: table;
    margin: 0;
    padding: 0;
    border: 0;

}

.navbar__element-button>a {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    border-width: 1px;
    border-radius: 8px;
    background-color: #70c2b9;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: content-box;
    cursor: pointer;
    text-align: center;
}

.bl1 {
    padding-left: 19%;
    padding-right: 19%;
    margin-top: 157px;
    height: 660px;
    width: 62%;
}

.bl1__title {
    color: #4b3584;
    font-size: 72px;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    line-height: 1.1;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.bl1__text {
    color: #2f2f2f;
    font-size: 20px;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    line-height: 1.4;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    width: 610px;
    margin-top: -13px;
    vertical-align: middle;
}

.bl1__text-blue {
    color: #4b3584;
}

.bl1__text-green {
    color: rgb(112, 194, 185);
}

.bl1__buttons {
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: 268px 318px;
    grid-column-gap: 35px;
    margin-top: 60px;
}

.bl1__button {
    width: 100%;
    height: 60px;
    text-align: center;
    z-index: 4;
    opacity: 1;
    transform: none !important;
    visibility: visible;
    box-sizing: border-box;
    display: table;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    text-decoration: none;
}

.bl1__button>span {
    font-size: 20px;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}


.bl1__button-blue {
    color: #ffffff;
    background-color: #4b3584;
    border-color: #2b2150;
}

.bl1__button-orange {
    color: #2f2f2f;
    background-color: #f7af4d;
    border-color: #2b2150;
}

.bl1__img {
    background-image: url(/static/img/bl1_img.svg);
    height: 403px;
    width: 506px;
    position: absolute;
    right: 19%;
    top: 360px;
}

.bl2 {
    height: 870px;
    background-color: #70c2b9;
    position: relative;
    width: 100%;
    width: 62%;
    padding-left: 19%;
    padding-right: 19%;
    border-top: #000000 solid 1px;
    opacity: 100%;
}

.bl2__title {
    top: 40px;
    width: 880px;
    color: #ffffff;
    z-index: 26;
    transform: none !important;
    position: absolute;
    box-sizing: border-box;
    display: table;
    margin: 0;
    padding: 0;
    border: 0;
}

.bl2__title>span {
    color: #ffffff;
    font-size: 36px;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    line-height: 1.2;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.bl2__img {
    top: 166px;
    height: 460px;
    width: 632px;
    z-index: 29;
    position: absolute;
    box-sizing: border-box;
    display: table;
    background-image: url(/static/img/bl2_img.svg);
}

.bl2__text {
    top: 185px;
    width: 500px;
    color: #2f2f2f;
    z-index: 30;
    transform: none !important;
    opacity: 1;
    position: absolute;
    box-sizing: border-box;
    display: table;
    visibility: visible;
    margin: 0;
    padding: 0;
    border: 0;
    right: 19%;
}

.bl2__text>span {
    color: #2f2f2f;
    font-size: 24px;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    line-height: 1.2;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    visibility: visible;
}

.bl2__msgclouds {
    display: grid;
    grid-template-rows: 90px 90px 90px;
    grid-template-columns: 400px;
    right: 19%;
    position: absolute;
    top: 330px;
    grid-row-gap: 20px;
}

.bl2__msgcloud {
    background-color: #ffffff;
    height: max-content;
    position: relative;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: 0;
}

.bl2__msgcloud>span {
    color: #4b3584;
    font-size: 20px;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    line-height: 1.2;
    font-weight: 500;
    display: table-cell;
    vertical-align: middle;
}

.bl2__msgcloud-medium {
    width: 300px;
}

.bl2__msgcloud-big {
    width: 380px;
}

.bl2__bottomtext {
    color: #2f2f2f;
    z-index: 28;
    width: 970px;
    transform: none !important;
    position: absolute;
    box-sizing: border-box;
    display: table;
    top: 700px;
}

.bl2__bottomtext>span {
    color: #2f2f2f;
    font-size: 24px;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    line-height: 1.3;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: content-box;
}

.bl3 {
    top: 10px;
    height: 250px;
    border-width: 3px;
    background-color: #e6325c;
    background-position: center center;
    border-color: #2b2150;
    border-style: solid;
    position: relative;
}

.bl3__title {
    width: 600px;
    color: #ffffff;
    text-align: center;
    z-index: 2;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
}

.bl3__title>span {
    color: #ffffff;
    font-size: 36px;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    line-height: 1;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    display: block;
    width: 100%;
    box-sizing: content-box;
    text-align: center;
    visibility: visible;
    margin-top: 29px;

}

.bl3__text {
    width: 560px;
    color: #ffffff;
    text-align: center;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.bl3__text>span {
    color: #ffffff;
    font-size: 22px;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    line-height: 1.3;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.bl3__button {
    width: 260px;
    height: 55px;
    color: #2f2f2f;
    text-align: center;
    z-index: 4;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    box-sizing: border-box;
    display: table;
}

.bl3__button>span {
    color: #2f2f2f;
    font-size: 18px;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 600;
    border-width: 2px;
    border-radius: 10px;
    background-color: #f7af4d;
    background-position: center center;
    border-color: #2b2150;
    border-style: solid;
    text-decoration: none;
    display: table-cell;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    vertical-align: middle;
}

.bl4 {
    position: relative;
    margin-top: 60px;
}

.bl4__form {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.bl4__input {
    color: #2f2f2f;
    font-size: 18px;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 600;
    border-width: 2px;
    border-radius: 10px;
    background-color: #f7af4d;
    background-position: center center;
    border-color: #2b2150;
    border-style: solid;
    text-decoration: none;
    display: table-cell;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    box-sizing: content-box;
    vertical-align: middle;
}


.bl4__legend ,.bl4__label {
    color: #2f2f2f;
    font-size: 24px;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    line-height: 1.3;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: content-box;
}


.bl4__submit {    color: #2f2f2f;
    font-size: 18px;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 600;
    border-width: 2px;
    border-radius: 10px;
    background-color: #f7af4d;
    background-position: center center;
    border-color: #2b2150;
    border-style: solid;
    text-decoration: none;
    display: table-cell;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    vertical-align: middle;
}