<!DOCTYPE html>
{% load static %}
<html>

<head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Реальная школа - учим детей управлять финансами</title>
        <meta name="description"
                content="Онлайн-школа финансовой грамотности, которая учит детей управлять деньгами и бюджетом" />
        <meta property="og:url" content="index.html" />
        <meta property="og:title" content="Реальная школа - учим детей управлять финансами" />
        <meta property="og:description"
                content="Онлайн-школа финансовой грамотности, которая учит детей управлять деньгами и бюджетом" />
        <meta property="og:type" content="website" />
        <link rel="canonical" href="index.html">
        <link rel="stylesheet" href="{% static "css/index.css" %}">
</head>

<body>
        <div class="navbar">
                <div class="navbar__elements">
                        <div class="navbar__logo"></div>
                        <div class="navbar__element-text">
                                <span>Научим</span>
                        </div>
                        <div class="navbar__element-text">
                                <span>Для кого курс</span>
                        </div>
                        <div class="navbar__element-text">
                                <span>Что входит</span>
                        </div>
                        <div class="navbar__element-text">
                                <span>Автор</span>
                        </div>
                        <div class="navbar__element-button">
                                {% if request.is_authorized %}
                                <a href="/accounts/login">Личный кабинет</a>
                                {% else %}
                                <a href="/accounts/dashboard">Привет, {{ request.user.username }}</a>
                                {% endif %}
                        </div>
                </div>
        </div>
        <div class="content">
                <div class="bl1">
                        <h1 class="bl1__title bl1__text-blue">
                                <span class="bl1__text-green">Доверьте ребёнку</span>
                                <span>управлять</span>
                                <span class="bl1__text-green">собственными</span> <span>деньгами</span>
                        </h1>
                        <div class="bl1__text">
                                <span>Мы создали "Реальную школу", чтобы обезопасить подростков от необдуманных
                                        финансовых
                                        поступков и дать успешные перспективы в будущем</span>
                        </div>
                        <div class="bl1__buttons">
                                <a class="bl1__button bl1__button-blue" href="#courses"><span>Записаться на
                                                курс</span></a>
                                <a class="bl1__button bl1__button-orange" href="#freeles"><span>Попробовать
                                                бесплатно</span></a>
                        </div>
                        <div class="bl1__img"></div>
                </div>
                <div class="bl2">
                        <div class="bl2__title">
                                <span>Интерактивный курс по финансовой грамотности для детей и подростков</span>
                        </div>
                        <div class="bl2__img"></div>
                        <div class="bl2__text"><span>С первого урока ученики вовлечены в практические упражнения,
                                        которые воспитывают в них</span></div>
                        <div class="bl2__msgclouds">
                                <div class="bl2__msgcloud bl2__msgcloud-big">
                                        <span>Креативность в поиске нестандартных ходов и решений</span>
                                </div>
                                <div class="bl2__msgcloud bl2__msgcloud-medium">
                                        <span>Ответственное отношение к деньгам</span>
                                </div>
                                <div class="bl2__msgcloud bl2__msgcloud-medium">
                                        <span>Уважение и чувство ценности к труду</span>
                                </div>
                        </div>
                        <div class="bl2__bottomtext">
                                <span>Задача курса "Простые финансы" – не просто рассказать про деньги, а увлечь и дать
                                        возможность самостоятельно научится управлять деньгами и зарабатывать.</span>
                        </div>
                </div>
                <div class="bl3">
                        <div class="bl3__title">
                                <span>Пройдите бесплатный урок</span>
                        </div>
                        <div class="bl3__text">
                                <span>Познакомитесь с форматом и получите скидку на покупку полного курса.</span>
                        </div>
                        <div class="bl3__button">
                                <span>Оставить заявку</span>
                        </div>
                </div>
                <div class="bl4">
                        <form class="bl4__form" method="POST">
                                <fieldset>
                                        {% csrf_token %}
                                        <legend class="bl4__legend">Контактная информация</legend>
                                        <p><label for="name" class="bl4__label">Имя <em>*</em></label><input type="text" name="name" placeholder="Имя" /></p>
                                        <p><label for="tel" class="bl4__label">Телефон <em>*</em></label><input type="text" name="tel" placeholder="Телефон" /></p>
                                </fieldset>
                                <p><input type="submit" class="bl4__submit" value="Отправить"></p>
                        </form>
                </div>
        </div>
</body>

</html>